.start {
  background-color: red;
}

.end {
  background-color: green;
}

.block {
  background-color: rgb(69, 67, 67);
}

.unvisited {
  background-color: white;
}

.inQueue {
  background-color: yellow;
}

.visited {
  background-color: brown;
}

.path {
  background-color: deeppink;
}
